.dd {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    position: absolute;
    color: white;
    padding: 0 10%;
    background-color: #f5f8fb;
    z-index: 2000;
    overflow: scroll;
    min-height: -webkit-fill-available;
    height: 100vmax;
  }
  
  .dd ul {
    list-style: none;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .dd li {
    margin: 3rem 0;
  }
  
  .dd a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(50, 50, 190);
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  }


  
  .dd a:hover,
  .dd a:active,
  .dd a.active {
    color: rgb(226, 152, 68);
  }

  @media screen and (min-width: 900px) {
      .dd {
          display: none;
      }
  }