.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  margin: 2rem 2rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  height: 350px;
  width: 360px;
  text-align: center;
  flex: 1 0 auto;
}

.container form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.pending-container form input[type="radio"],
.container form input[type="radio"] {
  transform: scale(2);
}

.container form label {
  font-size: 1rem;
  word-wrap: break-word;
  max-width: 160px;
  max-height: 50px;
}

.pending-container h4 {
  margin: 0 0 1rem 0;
  text-align: center;

}

.pending-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}

.pending-container form label {
  padding: 0 1rem;
  word-wrap: break-word;
  max-width: 150px;
}
.pending-container {
  display: flex;
  flex-direction: column;
}
.container input[type="file"] {
  display: none;
}

.uploader  {
  cursor: pointer;
  background-color: rgb(50, 50, 190);
  color: white;
  width: 50%;
  align-self: center;
  border-radius: 15px;
  padding: .5rem;
  transition: 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.uploader:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-position: right center;
  transform: translateY(-3%);
}

.container progress {
  height: 1rem;
  width: 50%;
  margin: 10px auto 10px auto;
  z-index: 5;
}

.container input {
  margin: 10px auto 0 auto;
}

@media screen and (max-width: 400px) {
  .container {
    margin: 2rem auto;
  }
}