.view-more {
    background-color: inherit;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border: 1px solid #ccc;
    color: rgb(50, 50, 190);
    font-size: 1rem;
    margin: 0 auto 3rem auto;
    cursor: pointer;
    border-radius: 15px;
    width: 300px;
    letter-spacing: .1rem;
}

.view-more:hover {
    background-color: rgba(129, 129, 129, .2);
}