.friends {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}



.header {
    text-transform: uppercase;
    letter-spacing: .6rem;
    margin: 3rem 0 3rem 0;
}